{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "modules": "commonjs",
        "debug": true,
        "useBuiltIns": true,
        "loose": true
      }
    ]
  ],
  "plugins": ["transform-es2015-modules-commonjs"]
}
